*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: 
    linear-gradient( rgba(222, 226, 235, 0.70), rgba(222,226,235, 0.70)),
    url(./img/uni.jpeg);
    background-position:   center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.letterLabel{
    font-family: 'Anton', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

#contLogin{
   margin-top: 10em;
}

h2{
    padding-top: 0.5em;
    text-align: justify, center;
    font-size: 1.8em;
    padding-bottom: 1em;
}


